
ul,li{list-style: none;}

*{padding: 0; margin: 0;}


.container {
    width: 1280px;
    margin: 0 auto;
    margin-top: 150px;
    
}
.process {
    display: flex;
    margin-bottom: 50px;
}
.process .hi {
    border-right: 1px solid rgb(210, 210, 210);
    padding: 0px 20px;
}
.process .hi.first {
    padding: 0px 20px 0px 0px;
}
.process > li > a {
    text-decoration-line: none;
    color: #777;
    font-size: 12px;
    font-family: 'Nanum Gothic', sans-serif;
}

        
.btnwrap {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}
.btnwrap .sell {
    font-weight: bold;
    flex-basis: 50%;
    text-align: center;
    padding: 15px 0px;
    cursor: pointer;
}
.btnwrap .sell.active {
    border-bottom: 2px solid black;
}
.btnwrap .sell,.buy > span {
    font-family: 'Nanum Gothic', sans-serif;
}
.btnwrap .buy {
    font-weight: bold;
    flex-basis: 50%;
    text-align: center;
    padding: 15px 0px;
    cursor: pointer;
}
.btnwrap .buy.active {
    border-bottom: 2px solid black;
}
.statusWrap {
    padding: 10px;
}
.statusWrap .btn {
    width: 70px;
    height: 40px;
    white-space: nowrap;
    color: #777;
    font-weight: bold;
    border-radius: 20px;
    font-size: 14px;
    margin-right: 5px;
    border: none;
    cursor: pointer;
    font-family: 'Nanum Gothic', sans-serif;
}
.statusWrap .btn.active {
    background-color: #FFA500;
    color: #fff;
}
.searchbox {
    margin-top: 10px;
    position: relative;
}

.searchbox > input {
    width: 30%;
    padding: 10px;
    border: 1px solid #fcfcfc;
    font-size: 18px;
    font-weight: bolder;
    color: rgb(118, 118, 118);
    margin-left: 40px;
    margin-bottom: 32px;
    margin-top: 20px;
    font-family: 'Nanum Gothic', sans-serif;

}
.searchbox > input:focus {
    outline: none;
}
.material-symbols-outlined{
    position: absolute;
    top: 31px;
    left: 15px;
    display: inline-block;
    height: 20px;
    color: #777;
}
.selllist {
    display: none;
}

.selllist.active{
    display:block;
}

.sellcontent {
    display: flex;
    border-top: 1px solid rgb(210, 210, 210);
    border-bottom: 1px solid rgb(210, 210, 210);
    padding: 20px 0;
}
.sellcontent.first {
    border-top: none;
}
.sellimg {
    margin-right: 100px;
}
.sellcontent .sellimg > img {
    width: 200px;
    height: 200px;
}
.sellcontent .sellinfo {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}
.sellinfo > p {
    font-size: 15px;
    margin-bottom: 5px;
    color: #777;
    font-family: 'Nanum Gothic', sans-serif;
}
.sellinfo .price {
    font-weight: bold;
    font-size: 20px;
    color: black;
    font-family: 'Nanum Gothic', sans-serif;
}
.sellinfo .productstatus {
    font-weight: bold;
    color: #FFA500;
}
.buylist {
    display: none;
}

.buylist.active{
    display:block;
}

.buycontent {
    display: flex;
    border-top: 1px solid rgb(210, 210, 210);
    border-bottom: 1px solid rgb(210, 210, 210);
    padding: 20px 0;
}
.buycontent.first {
    border-top: none;
}
.buyimg {
    margin-right: 100px;
}
.buycontent .buyimg > img {
    width: 200px;
    height: 200px;
}
.buycontent .buyinfo {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}
.buyinfo > p {
    font-size: 16px;
    margin-bottom: 5px;
    color: #777;
}
.buyinfo .price {
    font-weight: bold;
    font-size: 20px;
    color: black;
}
